.button {
  border: 1px solid gray;
  padding: 1rem 2rem;
  color: white;
  font-family: 'button-font';
  text-transform: uppercase;
  width: max-content;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px white;
}
